<div class="container">

    <!-- Header -->
    <div class="row" id="header">
        <mat-toolbar>
            <span>Dashboard</span>
        </mat-toolbar>
    </div>


    <!-- Navbar -->
    <div class="row" id="navbar">
        <mat-toolbar color="primary">
            <span>Administrador</span>
            <span class="example-spacer"></span>
            <button mat-button id="usuarios">Usuarios</button>
            <button mat-button id="salones">Salones</button>
            <button mat-button id="clientes">Clientes</button>
            <button mat-button id="reservas">Reservas</button>
            <span class="example-spacer"></span>
            <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon><span class="material-symbols-outlined">logout</span></mat-icon>
            </button>
        </mat-toolbar>
    </div>    

    <br>

    <!-- Tablas -->
    <div class="row" id="tablas">
        <div>
            <app-usuarios></app-usuarios>
        </div>
        <br>
        <div>
            <app-salones></app-salones>
        </div>
        <br>
        <div>
            
        </div>
        <br>
        <div>
            
        </div>
    </div>

    
    <!-- Footer -->
    <div class="row" id="footer">

    </div>

</div>