<mat-toolbar color="primary">
    <span>Administrador</span>
    <span class="example-spacer"></span>
    <!-- <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect" >{{item.nombre}}</button> -->
    <button mat-button routerLink="./usuarios">Usuarios</button>
    <button mat-button routerLink="./salones">Salones</button>
    <button mat-button routerLink="./eventos">Eventos</button>
    <button mat-button routerLink="./adicionales">Adicionales</button>
    <button mat-button routerLink="./clientes">Clientes</button>
    <button mat-button routerLink="./reservas">Reservas</button>
    <button mat-button routerLink="./reportes">Reportes</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon><span class="material-symbols-outlined">logout</span></mat-icon>
    </button>
</mat-toolbar>