@import url(../../../../styles.css);

h4{
    color: var(--fuente-clara-2);
}

hr{
    color: var(--fuente-oscura-1);
}

th{
    background-color: var(--fondo-claro-1);
    color: var(--fuente-oscura-2);
}

td{
    background-color: var(--fondo-claro-2);
    color: var(--fuente-oscura-1);
}

.modificar{
    color: var(--fuente-oscura-2);
}

.borrar{
    color: var(--fuente-clara-1);
}