<div class="body">
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="./../../../assets/img/user.png" alt="img-user" class="img-user item">
            <br><br>
            <h4 style="color: rgb(75, 18, 28);"><strong>Iniciar sesión</strong></h4>
            <br>
            <mat-form-field>
                <input matInput autocomplete="off" type="text" formControlName="usuario" placeholder="Ingrese su usuario">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput autocomplete="off" type="password" formControlName="password" placeholder="Ingrese su contraseña">
            </mat-form-field>
            <br>
            <button mat-raised-button style="color: rgb(75, 18, 28);" class="button" [disabled]="form.invalid">Ingresar</button>
        </form>
</div>