<div class="container-fluid">
    <mat-toolbar>
        <span>Crear Salón</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarSalon()">
            <br>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Id de salón</mat-label>
                        <input matInput autocomplete="off" formControlName="idUsuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./../../../../../assets/img/user.png" alt="user" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Capacidad desde</mat-label>
                        <input matInput autocomplete="off" formControlName="capacidadDesde">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Capacidad hasta</mat-label>
                        <input matInput autocomplete="off" formControlName="capacidadHasta">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;" routerLink="./salones">Volver</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>
                </mat-grid-tile>      
        </form>
    </mat-card>
</div>