<div class="row" id="principal">
    <div class="col-3" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9" id="contenido">
        <div class="container-fluid">
        
            <div class="row" id="formulario" *ngIf="reservaRegistroOriginal">
                <form novalidate [formGroup]="formEditarReserva" (ngSubmit)="onGuardarModificacion()">
                    <h4> Modificar reserva </h4>
                    <hr>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cliente</span>
                        <input required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="nombre">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Salón</span>
                        <input required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="nombre_salon">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Mes</span>
                        <input required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="mes">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                        <input required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="anio">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Detalles</span>
                        <input required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="detalles">
                    </div>
            
                    <hr>

                    <div class="row">
                        <div class="col-4">
                            <input type="button" class="btn btn-primary" id="btnGuardar" value="Guardar modificación de reserva"> 
                        </div>
                        <div class="col-2">
                            <a class="btn btn-primary" routerLink="/listarReservas" id="btnCancelar" role="button">Cancelar</a>
                        </div>
                    </div>
                
                </form>
            </div>

        </div>
    </div>
</div>