@import url(./../../../../styles.css);

h4{
    color: var(--fuente-clara-2);
}

hr{
    color: var(--fuente-oscura-1);
}

#campo{
    width: 80%;
}

span{
    width: 15%;
    background-color: var(--fondo-claro-1);
    color: var(--fuente-oscura-2);
}

#input{
    width: 85%;
    background-color: var(--fondo-claro-2);
    color: var(--fuente-oscura-1);
}

#btnGuardar{
    background-color: var(--fondo-oscuro-2);
    color: var(--fuente-clara-2);
    border-color: var(--fuente-clara-2);
}

#btnCancelar{
    background-color: var(--fondo-oscuro-2);
    color: var(--fondo-claro-1);
    border-color: var(--fondo-oscuro-2);
}