<div class="container-fluid">
    <mat-toolbar>
        <span>Crear usuario</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
            <br>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Usuario</mat-label>
                        <input matInput autocomplete="off" formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./../../../../../assets/img/user.png" alt="user" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                            <mat-option *ngFor="let item of sexo" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>
                </mat-grid-tile>
<!--             <br>
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile
                    *ngFor="let tile of tiles"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                    {{tile.text}}
                </mat-grid-tile>
            </mat-grid-list>     -->          
        </form>
    </mat-card>
</div>