<div class="container-fluid" id="contSidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <h4>Navegación</h4>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="listarUsuarios" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#home"/></svg>
            Lista de usuarios
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="agregarUsuario" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            Agregar un usuario
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a routerLink="listarSalones" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#home"/></svg>
            Lista de salones
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="agregarSalon" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            Agregar un salón
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a routerLink="listarClientes" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#home"/></svg>
            Lista de clientes
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="agregarCliente" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            Agregar un cliente
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a routerLink="listarReservas" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#home"/></svg>
            Lista de reservas
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="agregarReserva" class="nav-link text-white">
            <svg class="bi pe-none me-none2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            Agregar una reserva
          </a>
        </li>
      </ul>
    </div>
</div>