<div class="container-fluid">
    <div class="row" id="tablaUsuarios">
        <div class="table-responsive">
            <h4> Listado de usuario </h4>
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id de Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Id de categoría</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios;let iControl=index">
                        <td scope="row">{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nombre_usuario }}</td>
                        <td>{{ usuario.apellido_usuario}}</td>
                        <td>{{ usuario.categoria_usuario}}</td>
                        <td><a class="btn btn-primary" routerLink="/modificarUsuario/{{ usuario.id_usuario }}" role="button">Editar</a>
                            <a class="btn btn-danger" (click)="borrarRegistroUsuario(usuario.id_usuario, iControl)" role="button">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>